<label for="task_name">Name</label>
<input id="task_name" type="text" name="task[name]" value="<%= @task.name %>">

<label for="task_born_on">Birfhday</label>
<input id="task_born_on" type="date" name="task[due_date]" value="<%= @task.due_date %>">

<label for="task_species">Species</label>
<input id="task_species" type="text" name="task[complete]" value="<%= @task.complete %>">

<input type="submit" value="Save">
