<ul>
  <% @task.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<form action="/tasks" method="post">
  <input type="text" name="name" value="<%= @task.name %>">
  <input type="date" name="due_date" value="<%= @task.due_date %>">
  <input type="text" name="complete" value="<%= @task.complete %>">
  <input type="submit" value="Save">
</form>
