<form action="/tasks" method="get">
  <input type="text" name="name" value="<%= @task.name %>">
  <input type="date" name="due_date" value="<%= @task.due_date %>">
  <input type="submit" value="Save">
</form>
